<div class="col-md-6">
  <%= form_for [@hotel, @order] do |f|%>
     <%= f.label :Name %>
     <%= f.text_field :name %><br>

     <%= f.label :Pieces %>
     <%= f.text_field :number %><br>

     <%= f.label :Food %>
     <%= f.text_field :order %><br>

     <%= f.label :Location %>
     <%= f.text_field :location %><br>

     <p><%= f.submit %></p>
   <% end %>
</div>
