<% if user_signed_in?%>
<%= form_tag hotels_path, :method => :get do%>
<p>
  <%= text_field_tag :search, params[:search]%>
  <%= submit_tag :search, :name => nil%>
</p>
<% end %>
<%= link_to "Register hotel", new_hotel_path%>
<ul>
  <% @hotels.each do |hotel|%>
    <li><%= link_to hotel.name, hotel_path(hotel)%></li>
    <%= hotel.user.email%>
  <%end%>

</ul>
<%end%>

<ul>
  <% TwitterApi.our_public_tweets.each do |tweet|%>
    <li><%= tweet.text%></li>
  <%end%>
</ul>
