<div class="col-md-6">
  <%= form_for @hotel do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %><br>

      <%= f.label :location %>
      <%= f.text_field :location %><br>

      <%= f.label :about %>
      <%= f.text_area :about %><br>

      <%= f.submit  %>
    <% end %>

</div>
